gatk_jar: {{ gatk_jar }}
picard_jar: {{ picard_jar }}
varscan_jar: {{ varscan_jar }}
fastqc:
  exe: {{ fastqc_exe }}
seqtk:
  exe: {{ seqtk_exe }}
sickle:
  exe: {{ sickle_exe }}
cutadapt:
  exe: {{ cutadapt_exe }}
bwa:
  exe: {{ bwa_exe }}
samtools:
  exe {{ samtools_exe }}
star:
  exe {{ star_exe }}
bedtools:
  exe: {{ bedtools_exe }}
bcftools:
  exe: {{ bcftools_exe }}
htseqcount:
  exe: {{ htseqcount_exe }}
cufflinks:
  exe: {{ cufflinks_exe }}
vt:
  exe: {{ vt_exe }}
freebayes:
  exe: {{ freebayes_exe }}